*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 2s linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
}

.btn::before{
      content: " ";
      position: absolute;
      width: 25px;
      height: 25px;
      left: var(--bt);
      top: var(--b);
      background: red;
      opacity: 0;
      border-radius:100% ;
      transition: all 2s linear;
      -webkit-border-radius:100% ;
      -moz-border-radius:100% ;
      -ms-border-radius:100% ;
      -o-border-radius:100% ;
      -webkit-transition: all 2s linear;
      -moz-transition: all 2s linear;
      -ms-transition: all 2s linear;
      -o-transition: all 2s linear;
}

span{
    z-index: 5;
}

.btn:hover::before{
    transform: scale(1500%);
    opacity: 1;
    -webkit-transform: scale(1500%);
    -moz-transform: scale(1500%);
    -ms-transform: scale(1500%);
    -o-transform: scale(1500%);
}